<nav class="navbar align-center navbar-expand-lg navbar-light bg-light" height="100px">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >
    <span>
      <img src="assets/images/knowledgebase.png" width="50" height="50">          
      Base de Conhecimento
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/angular']" routerLinkActive="active">
          <img src="assets/images/angular.png" width="50" height="50">
          Angular
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ionic']" routerLinkActive="active">
          <img src="assets/images/ionic.png" width="50" height="50">
          Ionic
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ionic']" routerLinkActive="active">
          <img src="assets/images/javascript.png" width="50" height="50">
          JavaScript
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets/images/python.png" width="50" height="50">
          Python
        </a>
      </li>
  

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="assets/images/algorithm.png" width="50" height="50">        
          Algoritmos
        </a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/language.png" width="50" height="50">          
          Idioma 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Português</a>
          <a class="dropdown-item" href="#">Inglês</a>
        </div>
      </li>

    </ul>
    <span></span>
    <form class="form-inline my-2 my-lg-0">
      <input class="search-input form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>