.navbar-content, .navbar {
    display: table !important;
}

.navbar-brand {
    display: table-cell !important;
}

.image-container, .content-title {
    display: inline;
}

.tech-image {
    width: 20%;
}

.content-title {
    font-size: 100%;
}
